<div id="app">
    <header>
        <div id="burger-menu">
            <h4>B-Achtung</h4>
            <h3>WG-APP</h3>
        </div>
        <button *ngIf="loggedIn"
            id="logOutButton" 
            routerLink="logout" 
            class="button">Abmelden</button>
    </header>

    <!-- This is the content area. The individual pages are loded in here-->
    <div id="content">
        <router-outlet (activate)="onRoutesChanged()"></router-outlet>
    </div>

    <div id="footer">
        <div id="info">
            <div id="madeBy">
            <p><a href="http://broggoli.ch">Webdesign & copyright by Nick Bachmann</a></p>
            </div>
        </div>
    </div>
</div>