<div class="content">
  
    <form [formGroup]="flatDetailsForm" novalidate>
      <div [ngClass]="{'has-danger': flatName.invalid && (flatName.dirty || flatName.touched), 
                      'has-success': flatName.valid && (flatName.dirty || flatName.touched) }"
        class="container">
        <input formControlName="flatName" 
            type="text" 
            placeholder="WG-Name" 
            id="flatName" 
            name="flatName" 
            class="textInput"/>
        
        <div *ngIf="flatName.errors && (flatName.dirty || flatName.touched) " class="form-control-feedback">
          <span *ngIf="flatName.errors.required">Geben Sie bitte ihren Vornamen ein.</span>
          <span *ngIf="flatName.errors.pattern">Geben Sie bitte nur ihren Vornamen ohne Abstand oder Sonderzeichen ein.</span>
        </div>
        <br/>
      </div>
  
    </form>
      
    <div class="buttonContainer">
      <button class="button"
          (click)="register.getPrevious; register.setFlatName=flatName.value">
            Zrugg
      </button>
      <button class="button"
              disabled
              [ngClass]="{'soft-disabled': true}">
        Wiiter
      </button>
    </div>
  
    <button class="button registerButton"
          [ngClass]="{'disabled': flatName.invalid, 'enabled':flatName.valid}"
          (click)="register.setFlatName=flatName.value; register.generateNewFlat()">
      Registrieren
    </button>
  </div>